<div fxLayoutAlign="center center" fxFlexFill class="main-div background-image">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" fxLayoutAlign="stretch" fxLayout="column"
            class="login-form">
            <mat-form-field>
                <input type="text" formControlName="user" matInput placeholder="Email">
                <mat-error>User input field is not valid.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="Password">
                <mat-error>User input field is not valid.</mat-error>
            </mat-form-field>

            <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Login</button>
        </form>
    </mat-card>
</div>