.background-image {
    background-image:url(https://img.freepik.com/free-vector/digital-binary-code-algorithm-stream-matrix-background_1017-25328.jpg?w=2000);
}

.main-div mat-card {
    padding: 0px;
}

.login-form {
    padding: 20px;
}

.user-span {
    color: #F44336;
}